@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat", sans-serif;
  background-color: #161d31;
  color: #b4b7bd;
  padding: 4rem;
  height: 100vh;
}

#root {
  height: 100%;
}

.modal {
  width: clamp(50%, 500px, 90%);
  height: min(50%, 500px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.input {
  background: transparent;
  outline: none;
  border: 1px solid #676d7d60;
  border-radius: 0.2rem;
  padding: 0.25rem 1rem;
}

@layer components {
  .btn {
    @apply bg-primary w-full px-14 py-3 mb-10 rounded-lg transition-all hover:bg-[#8f84f5] text-xl font-semibold text-[#ffffff];
  }
}
